<h2> Pet Details: </h2>

<h3> Name: <%= @pets.name %> </h3>
<h3> Age: <%= @pets.age %> </h3>
<h3> Gender: <%= @pets.gender %> </h3>
<h3> Species: <%= @pets.species %> </h3>

<%= link_to "Back to Pet List", pets_path %>